/* Stream Deck - 6 buttons only */

screen {
    bg-color: #1a1a2e;
}

.container {
    x: center;
    y: center;
    width: 780;
    height: 460;
    bg-color: #1a1a2e;
    padding: 0;
}

.icon {
    x: center;
    y: center;
}

/* Row 1 */
#btn-discord {
    x: 20;
    y: 20;
    width: 240;
    height: 200;
    bg-color: #5865F2;
    border-radius: 24;
    padding: 0;
}

#btn-firefox {
    x: 270;
    y: 20;
    width: 240;
    height: 200;
    bg-color: #FF7139;
    border-radius: 24;
    padding: 0;
}

#btn-prusa {
    x: 520;
    y: 20;
    width: 240;
    height: 200;
    bg-color: #585858;
    border-radius: 24;
    padding: 0;
}

/* Row 2 */
#btn-prism {
    x: 20;
    y: 240;
    width: 240;
    height: 200;
    bg-color: #2ECC71;
    border-radius: 24;
    padding: 0;
}

#btn-vscode {
    x: 270;
    y: 240;
    width: 240;
    height: 200;
    bg-color: rgb(36, 29, 29);
    border-radius: 24;
    padding: 0;
}

#btn-terminal {
    x: 520;
    y: 240;
    width: 240;
    height: 200;
    bg-color: #2C3E50;
    border-radius: 24;
    padding: 0;
}
